default: &default
  adapter: postgresql
  enoding: unicode
  pool: 5

development:
  <<: *default
  database: novel_development

test:
  <<: *default
  database: novel_test

production:
  <<: *default
  database: novel_production
  username: novel
  password: <%= ENV['NOVEL_PRODUCTION_PASSWORD'] %>
