.novel
  - if @chapters.any?
    - @chapters.each do |chapter|
      = render chapter
  - else
    No chapters.

= link_to_next_page @chapters, "previous chapters", class: "btn btn-default btn-sm"
= link_to_previous_page @chapters, "next chapters", class: "btn btn-default btn-sm"
