$gray: #808080
$old-paper: #F8ECC2

a
  color: black
  text-decoration: initial

body
  background: image-url('seamless_paper_texture.png')
  width: 900px
  margin: 0 auto

  header
    text-align: center
    h1
      margin: 30px
      font-family: 'Codystar', cursive
      font-size: 90px
    h3
      font-family: 'Gentium Book Basic', serif
      font-size: 25px

  .novel
    font-family: 'Gentium Book Basic', serif
    padding: 20px
    article
      padding: 20px 0
      &:not(:last-child)
        border-bottom: 1px dashed $gray
      .title
        font-weight: bold
        margin: 10px 0
      .body
        margin-bottom: 20px
      time
        color: $gray
        font-style: italic
        font-size: 12px

  footer
    color: $gray
    font-size: 12px
    text-align: center
    margin: 40px
    a
      color: $gray
