a
  color: black
  text-decoration: initial

body
  width: 900px
  margin: 0 auto

  h1
    text-align: center
    font-family: 'Raleway', sans-serif
    font-size: 80px

  .novel
    padding: 20px
    .chapter
      border-bottom: 1px solid #D3D3D3
      margin: 20px 0
      .title
        font-style: italic
        font-weight: bold
        margin: 10px 0
      .body
        margin-bottom: 20px


